/FaceDrop.egg-info/PKG-INFO
/FaceDrop.egg-info/SOURCES.txt
/FaceDrop.egg-info/dependency_links.txt
/FaceDrop.egg-info/entry_points.txt
/FaceDrop.egg-info/not-zip-safe
/FaceDrop.egg-info/top_level.txt
